body { margin:0; padding:0; overflow: hidden;}

path {
  -webkit-transition:fill 400ms;
          transition:fill 400ms;
}

#map { position:absolute; top:0; bottom:0; width:100%; }

/* Tooltip */
.tooltip {
  /*border-bottom: 1px dotted black;*/
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-weight: normal;
  width: 250px;
  background-color: #8BA392;
  color: white;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 0px;
  left: 110%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Box */

.box {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);;
  z-index: 1000;
}

/* Locationpicker */

.locationpicker{
  top: 10px; right: 10px;
}

.locationpicker #all{
  font-weight: bold;
}

/* scorepicker */

.scorepicker{
  top: 100px; right: 10px;
}

.scorepicker #all{
  font-weight: bold;
}

/* Menu */

.menu a {
  font-size: 12px;
  font-family: sans-serif;
  color: #555;
  display: block;
  margin: 0;
  padding: 4px 6px;
  text-decoration: none;
  text-align: left;
  width: 80px;
  border-bottom: 1.2px solid rgba(0,0,0,0.15);
}

.menu a:first-child {
  border-radius: 4px 4px 0 0;
}

.menu a:last-child {
  border-radius: 0 0 4px 4px;
}

.menu a:hover {
  background: #F1F1F1;
}

.menu a.active {
  background: #ededed;
}

.menu a.active:hover {
  background: #e8e8e8;
}

/* Dashboard */

#dashboard.active{
  bottom: 0px;
}

#dashboard {
  position: absolute;
  width: 100%;
  height: 240px;
  bottom: -200px;
  z-index: 1000;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 3px 0 #000000b5;
  transition: bottom 0.3s ease-in-out;
}

.dashboardcontent{
  font-size: 12px;
  font-family: sans-serif;
  color: #555;  
  text-align: left;
  margin: 15px;
}

.dashboardcontent .name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.dashboardcontent .type{
  margin-left: 5px;
  /*font-style: italic;*/
}

.dashboardcontent .infotable{
  width: 100%;
  margin: 5px;
  border-spacing: 0px 10px
}

.dashboardcontent .more{
  margin-left: 5px;
  font-style: italic;
}

.dashboardcontent .infotable th{
  width: 85px;
}

.dashboardcontent .infotable .table_score{
  width: 60px;
  color: grey;
}

.dashboardcontent .infotable .table_explanation{
  color: grey;
}

.url {
  color: #555;
  text-decoration: underline;
  font-style: italic;
  text-decoration-style: dashed;
}

@media screen and (max-width:800px){
  #dashboard {
    height: 340px;
    bottom: -300px;
  }

  .dashboardcontent{
    margin: 10px;
  }
